BODY {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BACKGROUND: #fff;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}

* {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: Tahoma
}
/*
TD {
	WORD-BREAK: break-all;
	WORD-WRAP: break-word
}

TH {
	WORD-BREAK: break-all;
	WORD-WRAP: break-word
}

DIV {
	WORD-BREAK: break-all;
	WORD-WRAP: break-word
}
*/
TABLE {
	empty-cells: show;
	border-collapse:collapse;
}

IMG {
	BORDER-TOP-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

H3 {
	DISPLAY: inline;
	FONT-WEIGHT: normal;
	FONT-SIZE: 1em
}

H2 {
	DISPLAY: inline;
	FONT-WEIGHT: normal;
	FONT-SIZE: 1em
}

H3 A {
	COLOR: #000000
}

H4 {
	FONT-SIZE: 1.1em;
	MARGIN: 20px 0px 10px
}

H5 {
	MARGIN: 5px 0px 10px;
	FONT: bold 12px/ 14px Arial;
	COLOR: #002f79
}

FIELDSET {
	BORDER-RIGHT: #c1e7f0 1px solid;
	BORDER-TOP: #c1e7f0 1px solid;
	BORDER-LEFT: #c1e7f0 1px solid;
	BORDER-BOTTOM: #c1e7f0 1px solid
}

input[type="text"] {
	border-right: #82c5d8 1px solid;
	padding-right: 0px;
	border-top: #82c5d8 1px solid;
	padding-left: 1px;
	padding-bottom: 2px;
	vertical-align: middle;
	border-left: #82c5d8 1px solid;
	padding-top: 2px;
	border-bottom: #82c5d8 1px solid;
}

.c {
	CLEAR: both;
	FONT: 0px/ 0 Arial;
	HEIGHT: 0px
}

.b {
	FONT-WEIGHT: bold
}

.tal {
	TEXT-ALIGN: left
}

.tac {
	TEXT-ALIGN: center
}

.tar {
	TEXT-ALIGN: right
}

.fr {
	FLOAT: right
}

.fl {
	FLOAT: left
}

.f9 {
	FONT-SIZE: 80%;
	FONT-FAMILY: Tahoma
}

.f10 {
	FONT-SIZE: 10px;
	FONT-FAMILY: Tahoma
}

.f12 {
	FONT-SIZE: 12px
}

.f14 {
	FONT-SIZE: 14px
}

.fn {
	FONT-WEIGHT: normal
}

.fn A {
	FONT-WEIGHT: normal
}

.s1 {
	COLOR: #008000
}

.s2 {
	COLOR: #984b98
}

.s3 {
	COLOR: #fa891b
}

.s4 {
	COLOR: #0033ff
}

.s5 {
	COLOR: #659b28
}

.black {
	COLOR: #000
}

.black * {
	COLOR: #000
}

.gray {
	COLOR: #818a89
}

.gray * {
	COLOR: #818a89
}

.hr {
	BACKGROUND: #d3eaf0
}

.f_one {
	BACKGROUND: #ffffff
}

.f_two {
	BACKGROUND: #f7f8f8
}

.t_one {
	BACKGROUND: #ffffff
}

.t_two {
	BACKGROUND: #f7f8f8
}

.r_one {
	BACKGROUND: #ffffff
}

.r_two {
	BACKGROUND: #ffffff
}

TEXTAREA {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	MARGIN-BOTTOM: 1px;
	PADDING-BOTTOM: 0px;
	FONT: 12px Arial;
	VERTICAL-ALIGN: middle;
	PADDING-TOP: 1px
}

INPUT {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	MARGIN-BOTTOM: 1px;
	PADDING-BOTTOM: 0px;
	FONT: 12px Arial;
	VERTICAL-ALIGN: middle;
	PADDING-TOP: 1px
}

SELECT {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	MARGIN-BOTTOM: 1px;
	PADDING-BOTTOM: 0px;
	FONT: 12px Arial;
	VERTICAL-ALIGN: middle;
	PADDING-TOP: 1px
}

SELECT {
	BORDER-RIGHT: #c3dfea 1px solid;
	BORDER-TOP: #c3dfea 1px solid;
	BORDER-LEFT: #c3dfea 1px solid;
	BORDER-BOTTOM: #c3dfea 1px solid
}

.btn {
	BORDER-RIGHT: #86b9d6 3px double;
	BORDER-TOP: #86b9d6 3px double;
	BACKGROUND: #8abfda;
	BORDER-LEFT: #86b9d6 3px double;
	BORDER-BOTTOM: #86b9d6 3px double;
	HEIGHT: 28px
}

.input {
	BORDER-RIGHT: #82c5d8 1px solid;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #82c5d8 1px solid;
	PADDING-LEFT: 1px;
	FONT-SIZE: 1em;
	PADDING-BOTTOM: 2px;
	VERTICAL-ALIGN: middle;
	BORDER-LEFT: #82c5d8 1px solid;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #82c5d8 1px solid
}

.file {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 2px;
	HEIGHT: 21px
}

FORM {
	PADDING-RIGHT: 0px;
	DISPLAY: inline;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}

TEXTAREA {
	BORDER-RIGHT: #388eb0 1px solid;
	BORDER-TOP: #388eb0 1px solid;
	BORDER-LEFT: #388eb0 1px solid;
	BORDER-BOTTOM: #388eb0 1px solid
}

A {
	COLOR: #2f5fa1;
	TEXT-DECORATION: none
}

A:hover {
	TEXT-DECORATION: underline
}

A.a1 {
	COLOR: #000
}

A.a2 {
	FONT-WEIGHT: normal
}

.bklogo IMG {
	PADDING-RIGHT: 5px
}

.udl * {
	TEXT-DECORATION: underline
}

.ad A {
	COLOR: #555
}

#header {
	MARGIN: auto;
	WIDTH: 98%
}

.banner {
	PADDING-RIGHT: 3%;
	BACKGROUND: #ffffff
}

.banner IMG {
	VERTICAL-ALIGN: middle
}

.t {
	BORDER-RIGHT: #d2eefb 1px solid;
	BORDER-TOP: #d2eefb 1px solid;
	MARGIN: 0px auto 8px;
	BORDER-LEFT: #d2eefb 1px solid;
	WIDTH: 98%;
	BORDER-BOTTOM: #d2eefb 1px solid
}

.t TABLE {
	BORDER-RIGHT: #fff 1px solid;
	BORDER-TOP: #fff 1px solid;
	MARGIN: 0px auto;
	BORDER-LEFT: #fff 1px solid;
	WIDTH: 99.98%;
	BORDER-BOTTOM: #fff 1px solid
}

.t2 {
	BORDER-TOP: #c1e7f0 1px solid;
	MARGIN: 0px auto 5px
}

.t3 {
	MARGIN: auto
}

.t4 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 1px
}

.head TD {
	BORDER-RIGHT: #c2e9f9 2px solid;
	PADDING-RIGHT: 7px;
	PADDING-LEFT: 7px;
	BACKGROUND: #e6f5ff;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #e6f5ff 2px solid;
	COLOR: #004c7d;
	PADDING-TOP: 6px;
	BORDER-BOTTOM: #c2e9f9 2px solid;
	TEXT-ALIGN: left
}

.head SPAN {
	FONT-WEIGHT: normal;
	COLOR: #5599bb
}

.head H2 {
	FONT-WEIGHT: bold
}

.head A {
	COLOR: #004c7d;
	FONT-FAMILY: Arial
}

.head SPAN A {
	COLOR: #5599bb
}

.head A.a2 {
	FONT-WEIGHT: normal;
	FLOAT: right;
	MARGIN-LEFT: 12px
}

.line TD {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 10px;
	MIN-HEIGHT: 30px;
	PADDING-BOTTOM: 3px;
	COLOR: #333333;
	LINE-HEIGHT: 150%;
	PADDING-TOP: 3px;
	BORDER-BOTTOM: #e4e2da 1px dashed
}

.tr1 TH {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FONT-WEIGHT: normal;
	PADDING-BOTTOM: 5px;
	VERTICAL-ALIGN: top;
	PADDING-TOP: 5px;
	TEXT-ALIGN: left
}

.tr1 TD.td1 {
	BORDER-RIGHT: #e4f5f9 1px solid;
	BORDER-TOP: #e4f5f9 1px solid;
	BORDER-LEFT: #e4f5f9 1px solid;
	BORDER-BOTTOM: #e4f5f9 1px solid;
	border-spacing: 3px
}

.tr2 {
	BACKGROUND: #f3f8ef
}

.tr2 TD {
	PADDING-RIGHT: 6px;
	BORDER-TOP: #c4d2db 1px solid;
	PADDING-LEFT: 6px;
	PADDING-BOTTOM: 2px;
	COLOR: #659b28;
	LINE-HEIGHT: 21px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #daebcd 1px solid;
	TEXT-ALIGN: left
}

.tr2 TH {
	PADDING-RIGHT: 6px;
	BORDER-TOP: #c4d2db 1px solid;
	PADDING-LEFT: 6px;
	PADDING-BOTTOM: 2px;
	COLOR: #659b28;
	LINE-HEIGHT: 21px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #daebcd 1px solid;
	TEXT-ALIGN: left
}

.tr2 TH {
	FONT-WEIGHT: normal
}

.tr2 A {
	MARGIN-LEFT: 5px;
	COLOR: #5f7937
}

.tr3 TD {
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d4eff7 1px solid
}

.tr3 TH {
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d4eff7 1px solid
}

.tr3 TH {
	FONT-WEIGHT: normal;
	TEXT-ALIGN: left
}

.tr4 TD {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	BACKGROUND: #dcecf4;
	PADDING-BOTTOM: 4px;
	COLOR: #002f79;
	PADDING-TOP: 4px
}

.tr TD {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 2px
}

.tr TH {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 2px
}

.tpc_content {
	PADDING-RIGHT: 2%;
	PADDING-LEFT: 0.5%;
	FONT-SIZE: 14px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 0px 2%;
	PADDING-TOP: 0px;
	FONT-FAMILY: Arial
}

.tips {
	BORDER-RIGHT: #add2e1 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #add2e1 1px solid;
	PADDING-LEFT: 5px;
	BACKGROUND: #e6f3f7;
	FLOAT: left;
	PADDING-BOTTOM: 5px;
	MARGIN: 0px 1% 1% 0px;
	BORDER-LEFT: #add2e1 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #add2e1 1px solid;
	TEXT-ALIGN: center
}

.tiptop {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 5px;
	VERTICAL-ALIGN: middle;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #c1e7f0 1px solid
}

.tipad {
	PADDING-RIGHT: 0px;
	BORDER-TOP: #c1e7f0 1px solid;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 10px 0px 0px;
	PADDING-TOP: 5px
}

.quote {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 70%;
	PADDING-BOTTOM: 0px;
	MARGIN: 2px;
	COLOR: #626669;
	PADDING-TOP: 0px
}

BLOCKQUOTE {
	BORDER-RIGHT: #bfdce3 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #bfdce3 1px solid;
	PADDING-LEFT: 5px;
	FONT-SIZE: 85%;
	PADDING-BOTTOM: 5px;
	MARGIN: 0px 0px 1%;
	BORDER-LEFT: #bfdce3 3px solid;
	WIDTH: 92%;
	COLOR: #81888c;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #bfdce3 1px solid
}

.menu {
	BORDER-RIGHT: #add2e1 1px solid;
	BORDER-TOP: #add2e1 1px solid;
	FILTER: progid : DXImageTransform.Microsoft.Alpha ( opacity = 93 );
	BORDER-LEFT: #add2e1 1px solid;
	BORDER-BOTTOM: #add2e1 1px solid;
	POSITION: absolute;
	opacity: 0.9
}

.menu .h {
	PADDING-BOTTOM: 0px
}

.menu TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BACKGROUND: #e2eff5;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

.menu TD A {
	PADDING-RIGHT: 15px;
	DISPLAY: block;
	PADDING-LEFT: 15px;
	PADDING-BOTTOM: 3px;
	COLOR: #282973;
	PADDING-TOP: 5px;
	HEIGHT: 14px
}

.menu TD A:hover {
	BACKGROUND: #accbdb;
	TEXT-DECORATION: none
}

.guide {
	PADDING-RIGHT: 12px;
	PADDING-LEFT: 12px;
	BACKGROUND: #dcecf4;
	PADDING-BOTTOM: 3px;
	COLOR: #282973;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #dcecf4 3px double;
	TEXT-ALIGN: right
}

.guide A {
	COLOR: #282973
}

.guide A:hover {
	COLOR: #006699
}

.guide B {
	COLOR: #050646
}

.pages {
	MARGIN: 3px 0px;
	WIDTH: 98%;
	TEXT-ALIGN: right
}

.pages * {
	VERTICAL-ALIGN: middle
}

.pages A {
	BORDER-RIGHT: #a1c4cd 1px solid;
	PADDING-RIGHT: 4px;
	BORDER-TOP: #a1c4cd 1px solid;
	PADDING-LEFT: 4px;
	BACKGROUND: #f9fcff;
	PADDING-BOTTOM: 1px;
	MARGIN: 0px 1px 0px 0px;
	FONT: 12px/ 14px verdana;
	BORDER-LEFT: #a1c4cd 1px solid;
	COLOR: #002f79;
	PADDING-TOP: 1px;
	BORDER-BOTTOM: #a1c4cd 1px solid;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none
}

.pages A:hover {
	BORDER-RIGHT: #37a717 1px solid;
	BORDER-TOP: #37a717 1px solid;
	BACKGROUND: #edffe4;
	BORDER-LEFT: #37a717 1px solid;
	COLOR: #002f79;
	BORDER-BOTTOM: #37a717 1px solid;
	TEXT-DECORATION: none
}

.pages INPUT {
	BORDER-RIGHT: #87c932 1px solid;
	BORDER-TOP: #87c932 1px solid;
	PADDING-LEFT: 1px;
	MARGIN-BOTTOM: 0px;
	PADDING-BOTTOM: 1px;
	FONT: bold 12px/ 15px Verdana;
	BORDER-LEFT: #87c932 1px solid;
	COLOR: #499000;
	MARGIN-RIGHT: 1px;
	BORDER-BOTTOM: #87c932 1px solid;
	HEIGHT: 15px
}

.pages B {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 2px;
	MARGIN: 0px 3px;
	FONT: bold 10px/ 12px Tahoma;
	PADDING-TOP: 2px
}

.toptool {
	CLEAR: both;
	BACKGROUND: #f7ffee;
	WIDTH: 100%;
	COLOR: #eaf9da;
	BORDER-BOTTOM: #eaf9da 1px solid;
	TEXT-ALIGN: right
}

.toptool SPAN {
	PADDING-RIGHT: 15px;
	PADDING-LEFT: 15px;
	PADDING-BOTTOM: 3px;
	LINE-HEIGHT: 200%;
	PADDING-TOP: 3px
}

#footer {
	WIDTH: 100%;
	TEXT-ALIGN: center
}

.m {
	HEIGHT: 10px
}

.sub {
	HEIGHT: 30px;
	TEXT-ALIGN: center
}

.help {
	BORDER-RIGHT: #b5aa94 1px solid;
	BORDER-TOP: #b5aa94 1px solid;
	RIGHT: 5px;
	BORDER-LEFT: #b5aa94 1px solid;
	WIDTH: 200px;
	COLOR: #000;
	BOTTOM: 20px;
	BORDER-BOTTOM: #b5aa94 1px solid;
	POSITION: absolute;
	HEIGHT: 100px;
	BACKGROUND-COLOR: #ffffb5
}

.helpHead {
	PADDING-LEFT: 5px;
	PADDING-TOP: 2px;
	HEIGHT: 20px;
	BACKGROUND-COLOR: #c2d605
}

.helpMsg {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 2px;
	LINE-HEIGHT: 150%;
	PADDING-TOP: 2px
}