@charset "utf-8";
/* search */
#suggest {
	border:1px solid #817F82;
	position:absolute;
	background-color:#FFFFFF;
	width: 420px;
	margin-left:5px;
}
.ml td{
	height:28px;
	font-size:14px;
	padding-left:5px;
}
/* mail */
.mainreg{ font-size:14px; text-align:left; width:680px; margin:10px auto}
.mainreg h1{ font-size:14px; font-weight:bold;}
.mainreg p{ line-height:19px; margin:5px 0; font-size:12px}
.mainreg li{ line-height:32px; clear:both; height:30px}
.mainreg li.ex{ background:#FCF4CD}
.mainreg li label{ width:80px; text-align:right; display:block; float:left}
.mainreg li input{ float: left; margin-top:5px; border:1px solid #d2d2d2; padding:2px}
.areamap{ width:900px; margin:5px auto; text-align:left; padding-left:20px;}
.regbutton{ padding-left:5px}
.agreements{ background:#F6F6F6; border:1px solid #d2d2d2; padding:10px; margin:10px  auto; width:658px;}
.agreements h3{ line-height:20px; font-weight:bold; text-align:left; font-size:14px}
.agreements .agreecontent{ width:652px; height:160px; padding:3px;background:#fff; border:1px solid #d2d2d2; text-align:left; overflow:auto}
.agreements .agreecontent p{ line-height:19px; margin:5px 0px; text-indent:2em;}
.mainreg .phbutton{ margin-left:5px; width:90px; cursor:pointer}
.red {
	color: #F00;
}
.ilayout{ width:960px; text-align:left; margin:auto}
.ilayout .imenubar{ float:left; width:180px; margin-right:15px; margin-top:3px;background:#D2DFF0; padding:10px; font-size:14px;border-radius:5px;}
.ilayout .imenubar .memberbox{ font-size:12px; text-align:center; padding:10px 0px 20px; margin-bottom:20px; border-bottom:1px dashed #000;}
.ilayout .imenubar .memberbox img{ border:1px solid #d2d2d2;}
.ilayout .imenubar .memberbox p{ line-height:40px; font-weight:bold;}
.ilayout .imenubar .memberbox button{ padding:2px;}
.ilayout .imenubar ul{ line-height:26px;}
.ilayout .imenubar ul h2{ line-height:32px; font-size:14px; font-weight:bold}
.ilayout .icontent{ float:left; width:745px;border-radius:5px; margin-top:3px;}
/* 欢迎页面 */
.ilayout .icontent .welcome{ height:40px; line-height:40px; font-size:14px;font-weight:bold;background:#FFC;border:1px dotted #CCC;padding:5px;border-radius:5px;}
/* 欢迎页面 */
/* 邮件 */

.icontent .mailbox{ margin:10px auto;}
.icontent .title{ font-size:14px; font-weight:bold; line-height:26px; margin:10px 0px;}
.icontent .mailbox .mailboxtab{ height:22px; line-height:22px; border-bottom:1px #ccc solid; height:33px;}

.mailboxtab li{ float:left; margin-right:10px; margin-left:10px; width:85px; height:32px; line-height:33px; text-align:center;background:#E5EEF7;border:1px solid #ddd;border-radius:3px 3px 0 0;}
.mailboxtab li a:link,.mailboxtab li a:visited,.mailboxtab li a:active {
    color: #484853;
    padding: 5px;
    text-decoration: none;
}
.mailboxtab li.hov{background:#fff;height:33px; border-bottom:none; cursor:pointer;margin-bottom:-1px;border-radius:3px 3px 0 0;}
.icontent .mailbox .mailcontent{  background:#fff; border-top:none; background:url(/static/images/detailline.gif) repeat-x top; clear:both; padding:10px;}
.icontent .mailbox .undis{ display:none}
.icontent .mailbox .mailcontent ul{ line-height:36px;}
.icontent .mailbox .mailcontent li{ border-bottom:1px dashed #ddd; clear:both; float:left }
.icontent .mailbox .mailcontent li span{ float:left; display:block}
.icontent .mailbox .mailcontent li span.mailcontentTitle{ width:480px; padding-right:20px}
.icontent .mailbox .mailcontent li span.date{ width:100px;}
.icontent .mailbox .mailcontent li span.delete{ width:28px;}
.icontent .mailbox .mailcontent .pages{ margin:10px 0; text-align:right; clear:both;}
.icontent .mailbox .mailcontent .pages a{  margin-right:5px; }
.icontent .mailbox .mailcontent .mailfiled{ margin:10px 0px;}
.icontent .mailbox .mailcontent .mailfiled h2{ line-height:22px; font-weight:bold}
.icontent .mailbox .mailcontent .mailfiled h2 span{ font-weight:normal}
.icontent .mailbox .mailcontent .mailtext{ height:300px; line-height:22px; width:500px}
/* 邮件 */

/* 邮件正文 */
.mailtextcon{ clear:both; border:1px solid #d8d8d8; background:none repeat scroll 0 0 #F6F6F6; padding:10px;}
.mailtextcon .mailcontext{ background:#fff; padding:20px; border:1px solid #d2d2d2;}
.mailtextcon .mailcontext h1{ height:32px; line-height:32px; font-size:14px; font-weight:bold}
.mailtextcon .mailcontext h1 a{ color:#ff69ca; text-decoration:underline}
.mailtextcon .mailcontext h1 span{ font-size:12px; font-weight:normal }
.mailtextcon .mailcontext h1 .connect{ font-family:arial; float:right; text-align:right; font-size:12px; margin-top:-5px}
.mailtextcon .mailcontext h1 .tel{ color:#f60; font-size:18px; font-style:italic; font-size:26px; font-weight:bold}
.mailtextcon .mailcontext h2{ clear:both; height:32px; line-height:32px; font-weight:bold; display:block; background:#f2f2f2; margin-bottom:10px; border-top:1px dashed #d2d2d2}
.mailtextcon .mailcontext p{ text-indent:2em; line-height:20px; margin-bottom:5px;}
/* 邮件正文 */

/* 编辑会员资料 */
.icontent .memberpicEdit{ clear:both;}
.icontent .memberpicEdit .memeberDetail{ float:left; margin-right:10px; width:168px; border:4px solid #d2d2d2}
.icontent .memberpicEdit .memeberreload{ float:left; width:450px;}
.icontent .memberpicEdit .memeberreload p{ line-height:20px; margin-top:5px}

.icontent .memberpicEdit .memberfield{ margin:10px 0px;}
.icontent .memberpicEdit .memberfield td{font-size:14px;}
.icontent .memberpicEdit .memberfield tr{ height:25px;}
.icontent .memberpicEdit .memberfield label{width:140px; float:left}
.icontent .memberpicEdit .memberfield label input{ margin-right:3px;}
/* 编辑会员资料 */

/* 登录 */
.loginlayout{ width:900px; margin:0px auto}
.left{ float:left; margin-right:10px;}
.right{ float:right}
.right .login{ clear:both; margin-top:10px;}
.right .login li{list-style:none;}
.right .logindiv{width:210px;}
.right .login #tab2{width:300px;height:34px; }
.right .login #tab2 ul{margin:0;padding:0;}
.right .login #tab2 li{float:left;padding:0 30px;height:33px;line-height:34px;text-align:center;border:1px #d2d2d2 solid;cursor:pointer; margin-right:5px;border-bottom:none;background:url(/static/images/detailline.gif) repeat-x #f2f2f2 left 33px }
.right .login #tab2 li.now{color:#5299c4;background:#fff;font-weight:bold; border-bottom:none; height:34px }
.right .login .tablist{width:300px; text-align:left;padding:10px;font-size:14px;line-height:24px;border:1px #d2d2d2 solid;border-top:0;display:none;background: url(/static/images/detailline.gif) repeat-x top; height:180px; }
.right .login #tablist2{ text-align:left}
.right .login .block{display:block; }
.right .login .tablist p{ line-height:20px; text-indent:2em}

.right .login .field {
padding-top:12px;
}
.right .login .field input{ height:22px;}
.right .login .field label {
display:inline-block;
padding-right:10px;
text-align:right;
width:66px;
}
.login .submit{ margin-top:20px; margin-left:10px}
.login .submit button {
background:url("/static/images/stuff.png") no-repeat scroll 0 -100px transparent;
border:0 none;
cursor:pointer;
float:left;
height:26px;
margin-right:6px;
overflow:hidden;
text-indent:-99999px;
vertical-align:middle;
width:86px;
}
.login .reg{ clear:both; margin-top:25px; font-size:14px; text-align:center; border-top:1px dashed #999; padding-top:10px}

.layout{ width:900px}
.left,.right{ float:left;}
.left{  width:680px; margin-right:30px; overflow:hidden}
.layout{ text-align:left; margin:0px auto}

.releaselist{ padding:15px 0; border-bottom:1px solid #e2e3e2; clear:both;}
.releaselist .biddingnum{ height:60px; margin-right:20px; float:left; width:60px;
background:url(/static/images/CMT_iPhone_002.png) no-repeat 10px 0; padding:10px; text-align:center}
.releaselist .biddingnum span{ display:block; padding-top:4px;}
.releaselist .biddingnum .num{ color:#f60; font-size:18px; font-family:arial; font-weight:bold; margin-top:-4px}
.releaselist .releaselistcon{ height:100%; float:left; width:420px;}
.releaselist .releaselistcon .title{ font-size:14px; font-weight:bold; margin-bottom:10px;}
.releaselist .releaselistcon .title span{ padding-left:10px; font-size:12px; font-weight:normal}
.releaselist .releaselistcon .refield{ float:left; margin-right:20px;}
.releaselist .releaselistcon .refield span{ font-weight:bold;}
.releaselist .releaselistcon .refieldcon{ clear:both; float:left; line-height:20px; margin-top:5px}
.releaselist .releaselistcon .refieldcon span{ font-weight:bold}

.releaselist  .reuser{ float:left; width:160px; height:100%; text-align:center}
.releaselist  .reuser span{ display:block; margin-bottom:10px }
.releaselist  .reuser .bidbtn{ cursor:pointer}

.ad{ overflow:hidden}
.reason{ margin-bottom:10px; line-height:24px; margin-top:20px}
.reason .title{ font-size:14px; font-weight:bold; }
.notebar a{ color:#2b2b2b}

.pages{ margin:10px 0; text-align:right; clear:both;}
.pages a{  margin-right:5px; }
.right{ float:right; width:190px; text-align:left;}
.right .textad { margin-bottom:10px; }
.right .textad .title{ font-size:14px;  line-height:22px; font-weight:bold }
.right .textad .content{ color:#2b2b2b}
.right  .adhelp{ margin-bottom:12px;}

.table1{
	border: 1px solid #C1DAD7;
	border-collapse:0;
}

.table1 th {
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(../images/bg_header.jpg) no-repeat;
	border:0;
}
.table1 img{
	margin-top:4px;
}
.table1 .nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}
.table1 td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}
.table1 .alt {
	background: #F5FAFA;
	color: #797268;
}

.table1 .spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../images/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
.table1 .specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}

.user_op{
    float: right;
    font-size: 12px;
}
.user_op a:link, .user_op a:active, .user_op a:visited {
    color: #999999;
    display: block;
    font-size: 12px;
}
.user_op a {
    display: block;
    text-decoration: underline;
}
.my-photup {
    float: left;
    margin-bottom: 20px;
    margin-right: 35px;
    width: 142px;
}
.my-photup-cover img {
    border: 1px solid #D5B5AF;
    padding: 2px;
}