@charset "utf-8";
#header{	
	height:90px;
	background-color: #e3e9ff;
	border-bottom:1px #ccc solid;	
	border-radius: 5px;
}
#footer{
	border-top:1px #ccc solid;	
	color:#585858;
	font-size:12px;
	text-align:center;
	line-height:24px;	
	background-color: #e3e9ff;
	padding-top:12px;
	padding-bottom:8px;
	border-radius:5px;
}
#header ul{
	clear:both;
}
#header ul li{	
	/*width:80px;*/
	list-style:none;
	margin-right:10px;
	float:left	
}

#main{	
	line-height:160%;
}

#mleft{
	width:700px;
	float:left;
	border-right:1px #ccc solid;
	background: none repeat scroll 0 0 #EFF4FA;
	padding:5px;
}
#content{
	font:14px "微软雅黑,Arial, Helvetica, sans-serif";
	line-height:28px;
	color:#000;
	margin-top:5px;
}
#content p{
	text-indent:28px;
}
#mleft ul{	
}
#mleft ul li{
	line-height:160%;
	list-style: disc inside url("../images/li.gif");	
}
#mright{
	width:240px;
	float:left;
	padding-left:5px;
}
#mright h3{
	margin-left:5px;
}
#pos{
	height:30px;
	border-bottom:1px #CCC solid;
}
#mblog_list ul li{
	list-style:none;
	line-height:24px;
}
#mblog_list span{
	color:#889DB6;
	font-size:12px;
	margin-top:2px;
}
.microblog ul li{
	border-bottom: 1px dashed #D8D8D8;
    float: left;
    padding: 12px 0 10px;
    width: 100%;
	height:auto;
}
.userPic {
    float: left;
    padding: 0 0 4px 4px;
}
.userPic img{
	float:right;
}
.userCont{
	font-size: 14px;
    overflow: hidden;
    word-wrap: break-word;
}