@charset "utf-8";
.bg1{
	border-bottom:1px #ccc solid;
	background-color: #e3e9ff;
}
#header{	
	height:80px;	
}
#footer{
	border-top:1px #ccc solid;
	height:60px;
	text-align:center;
	padding-top:5px;
}
#header ul{
	clear:both;
}
#header ul li{	
	/*width:80px;*/
	list-style:none;
	margin-right:10px;
	float:left	
}

#main{	
	font:14px "微软雅黑,Arial, Helvetica, sans-serif";
	line-height:160%;
}

#mleft{
	width:720px;
	float:left;
	border-right:1px #ccc solid;
	background: none repeat scroll 0 0 #EFF4FA;
	padding:5px;
}
#content{
	font:14px "微软雅黑,Arial, Helvetica, sans-serif";
	line-height:28px;
	color:#000;	
}
#mleft ul{	
}
#mleft ul li{
	line-height:160%;
	list-style: disc inside url("../images/li.gif");	
}
#mright{
	width:220px;
	float:left;
	padding-left:5px;
}
#pos{
	height:30px;
	border-bottom:1px #CCC solid;
}