<div class="mailbox">
<div class="mailboxtab">
<ul>
<li {{if $php.mvc.view=='index' and $smarty.get.act!='draft'}}class="hov"{{/if}}><a href="/myblog/index/">我的博客</a></li>
<li {{if $php.mvc.view=='category'}}class="hov"{{/if}}><a href="/myblog/category/">分类管理</a></li>
<li {{if $php.mvc.view=='index' and $smarty.get.act=='draft'}}class="hov"{{/if}}><a href="/myblog/index/?act=draft">草稿箱</a></li>
<li {{if $php.mvc.view=='write'}}class="hov"{{/if}}><a href="/myblog/write/"><img src="/static/images/add.png" style="margin-top:8px;" align="absmiddle"> 写博客</a></li>
</ul>
</div>
</div>