<div class="t">
<table cellspacing="0" cellpadding="0" width="100%" border="0">
	<tr class="tr4">
	<td width="14%" style="TEXT-ALIGN: center"><span class="sub">
      <input name="submit" type="button" class="btn" value="添加新内容" onclick="location.href='{{url key=action value=add}}'" />
    </span></td>
		<td width="86%" style="TEXT-ALIGN: center">
		<form action="admin_news.php?action=news_search" method="post" name="form1" id="form1">
合计：<span class="num_t">{{$pager.total}}</span>
	  </form></td>
	</tr>
</table>
</div>