<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>涛谱科技后台管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/admin.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="/admin/static/js/forms.js"></script>
<style type="text/css">
<!--
body,td,th {
	font-size: 12px;
}

body {
	margin-left: 16px;
}

.num_t {
	color: #FF0000;
	font-weight: bold;
	font-size: 14px;
}

.STYLE1 {
	color: #FF0000;
	font-weight: bold;
}
-->
</style>
</head>
<body>
<br />
{{include file='cms/list_header.html'}} 
<div class="t">
<form action="admin.php?action=lot&app={{$app}}" method="POST" name="mainform" target="op" id="mainform">
<table width="100%" border="1" cellpadding="0" cellspacing="0">
	<tr class="tr2">
		<td align="center">ID</td>
		<td align="center">缩略图</td>
		<td align="center">名称</td>
		<td align="center">产品类型</td>
		<td align="center">添加时间</td>
		<td align="center">操作</td>
	</tr>
	{{section name=ol loop=$list}}
	<tr class="tr3">
		<td><label>
		  <input name="ids[]" type="checkbox" id="ids[]" value="{{$list[ol].id}}" />
		  </label>
		{{$list[ol].id}}</td>
		<td><img src="{{$list[ol].image}}" width="160" /></td>
		<td><a href="/admin/admin.php?action=add&amp;id={{$list[ol].id}}&amp;app={{$app}}">{{$list[ol].name}}</a></td>
		<td>{{$list[ol].cname}}</td>
		<td>{{$list[ol].addtime}}</td>
		<td><a href="admin.php?app={{$app}}&amp;action=add&amp;id={{$list[ol].id}}"><img src="/static/images/admin/edit.gif" alt="修改" border="0" /></a> <a href="admin.php?action=html&amp;id={{$list[ol].id}}&amp;app={{$app}}"><img src="/static/images/admin/update.gif" alt="更新" border="0" /></a> <a href="/cms.php?app={{$app}}&amp;id={{$list[ol].id}}" target="_blank"><img src="/static/images/admin/page_nav.png" alt="预览" width="16" height="16" border="0" /></a> <a href="/admin/admin.php?action=del&amp;app={{$app}}&amp;del={{$list[ol].id}}"> <img src="/static/images/admin/del.gif" alt="删除" border="0" onclick="return confirm('您确定要删除此内容？');" /></a>&nbsp;</td>
	</tr>
	{{/section}}
	<tr class="tr3" >
	  <td align="center" colspan="6">{{$pager.render}}</td>
	</tr>
	{{if checkAG('root')}}{{include file='cms/list_op.html'}}{{/if}}
</table>
</form>
</div>
<iframe height="500" width="1000" id="op" name="op"	style="display: none;"></iframe>
</body>
</html>