<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{$user.nickname}}的主页_{{$smarty.const.SITENAME}}</title>
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<link href="/static/css/grid.css" rel="stylesheet" type="text/css">
<link href="/static/styles/global.css" rel="stylesheet" type="text/css" />
<link href="/static/css/ab.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/autoresize.js"></script>
<SCRIPT  language="JavaScript" src="/static/js/SwooleUI.js" type=text/javascript></SCRIPT>
<SCRIPT  language="JavaScript" src="/static/js/main.js" type=text/javascript></SCRIPT>
<script type="text/javascript">
window.onload = function(){
	checklogin();
};
$(function(){
	$('textarea#microblog').autoResize({
    onResize : function() {
        $(this).css({opacity:0.8});
    },
    animateCallback : function() {
        $(this).css({opacity:1});
    },
    animateDuration : 300,
    extraSpace : 30,
	limit: 200});
})
</script>
</head>

<body>
{{include file='header.html}}
<div class="ilayout">
{{include file='block/user_left.html}}
<div class="icontent">
<!--欢迎页面-->
<!--欢迎页面-->
<div class="microblog" id='mblog_list'>
<div class="welcome">{{if $cate}}当前分类：{{$cate.name}}{{/if}}</div>
<ul>
  {{foreach from=$blogs item=v}}
  <li>
    <div class="userCont">
      <a href="/blog/detail/?id={{$v.id}}" class="title">{{$v.title}}</a>
      <p class="desc">{{$v.des}}...</p>
       <span>发布于：{{$v.addtime}} <a href="/blog/detail/?id={{$v.id}}#comment">
       <img src="/static/images/icon_comment.gif" width="17" height="17" />共有{{$v.reply_count}}条评论</a>
         <a href="/blog/detail/?id={{$v.id}}"><img src="/static/images/icon_arrow.gif" />{{$v.look_count}}人阅读</a>
         </span>
       </div>      
    </li>
  
  {{/foreach}}
</ul>
  <div class="clear"></div>
  <div class="pages">{{$pager.render}}</div>
</div>

<!--邮件-->
<!--邮件-->
<!--编辑个人资料-->
<!--编辑个人资料-->
</div>
</div>
{{include file=footer.html}}
</body>
</html>