<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{$cate.name}}-恒泰大通黄金投资有限公司</title>
<link href="/site/hengtai/style/css.css" rel="stylesheet" type="text/css">
<meta name="Copyright" content="恒泰大通黄金投资有限公司" />
<meta name="description" content="{{$cate.description}}" />
<meta name="keywords" content="{{$cate.keywords}}" />
</head>

<body>
{{getall _name=list2 from=st_news cid=$cate.id pagesize=10 page=$smarty.get.page}}
{{include file='header.html'}}
<table width="951" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="9" rowspan="2"><img src="/site/hengtai/images/index-top-nav_20.gif" width="6" height="179" /></td>
    <td width="937" height="28"><img src="/site/hengtai/images/banner-{{$ccate.id}}.jpg" width="940" height="173" /></td>
    <td width="10" rowspan="2"><img src="/site/hengtai/images/index-top-nav_22.gif" width="5" height="179" /></td>
  </tr>
  <tr>
    <td height="6"><img src="/site/hengtai/images/index-top-nav_23.gif" width="940" height="6" /></td>
  </tr>
</table>
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="50">&nbsp;</td>
  </tr>
</table>
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="692" valign="top"><table width="692" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="37" colspan="3" background="/site/hengtai/images/ceshi.jpg" class="lanmu_title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{$cate.name}}</td>
        </tr>
      <tr>
        <td height="376" colspan="3" valign="top" background="/site/hengtai/images/meiti_bg.jpg"><table width="691"  border="0" cellpadding="0" cellspacing="40">
          <tr>
		  
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
			  {{foreach from=$list2 item=v key=k}}			  
                <td align="center"><table width="250" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td bgcolor="#5D0B0D">&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="7"></td>
                  </tr>
                  <tr>
                    <td><img src="{{$v.pic}}" width="264" height="155" /></td>
                  </tr>
                  <tr>
                    <td height="30" align="left"><span class="lanmu_title">{{$v.title}}</span></td>
                  </tr>
                  <tr>
                    <td align="left"><span class="font_12">{{$v.description|mbcut:64}}</span></td>
                  </tr>
                  <tr>
                    <td height="40" align="left"><a href="{{magic func=link app=News id=$v.id}}"><img src="/site/hengtai/images/readmore.jpg" width="85" height="9" border="0" /></a><a href="#"></a></td>
                  </tr>
                  <tr>
                    <td height="4" bgcolor="#5D0B0D"></td>
                  </tr>
                </table></td>
                {{if $k%2==1}}</tr><tr>{{/if}}
				{{/foreach}}
                <td align="center">&nbsp;</td>
              </tr>
              <tr>
                <td>{{$pager.render}}</td>
                <td>&nbsp;</td>
              </tr>              
            </table>            
            <p>&nbsp;</p>
              </td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td width="19"><img src="/site/hengtai/images/meiti_10.gif" width="19" height="14" /></td>
        <td width="672" background="/site/hengtai/images/meiti_12.gif"></td>
        <td width="10"><img src="/site/hengtai/images/meiti_14.gif" width="18" height="14" /></td>
      </tr>
    </table></td>
    <td width="24">&nbsp;</td>
    <td width="239" valign="top">{{include file='block/left.html'}}</td>
  </tr>
</table>

 {{include file='footer.html'}}
</body>
</html>
