<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>websocket demo</title>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript">
var ws;
function connect()
{
	ws = new WebSocket( "ws://localhost:8080/chat" );
	ws.onopen=function(){
		$("#log").html('已连接.');
		$("#conn").attr("disabled", false);
	}

	ws.onclose=function(){
		$("#log").html('已断开.');
	}

	ws.onmessage=function(msg){
		$("#output").val( msg.data + "\n" + $("#output").val());
	}

	ws.onerror=function( msg ){
		$("#log").html('出错.');
	}
}

function send()
{
	send_data = $( "#mymsg" ).val();
	ws.send( send_data );
	$("#mymsg").val("");
}

</script>
</head>

<body>
<input type="text" name="mymsg" id="mymsg" size="70" />
<input name="send" type="button" id="send" value="发送" disabled="disabled" />
<input name="conn" type="button" id="conn" value="连接" onclick="connect()" />
<br /><br />
<div>连接状态：<span id="log">正在连接...</span></div>
<textarea name="output" cols="70" rows="30" id="output"></textarea>
</body>
</html>