<table width="955" border="0" align="center" cellpadding="0" cellspacing="0" class="foot_bg">
  <tr>
    <td height="320" valign="top"><table width="955" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="273" height="77">&nbsp;</td>
        <td width="2"></td>
        <td width="395">&nbsp;</td>
        <td width="2"></td>
        <td width="282">&nbsp;</td>
      </tr>
      <tr>
        <td height="279" valign="top"><table width="273" border="0" cellspacing="20" cellpadding="0">
          <tr>
            <td height="241" align="right" valign="top"><table width="93%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="2" background="/site/hengtai/images/hengxian.jpg"></td>
        <td valign="top"><table width="395" border="0" cellspacing="20" cellpadding="0">
          <tr>
            <td height="241" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="24" align="left"><a href="http://www.cfi360.com/" class="news_foot">中国金融创新网</a></td>
                <td align="left"><a href="http://www.cngold.org.cn/cn/index.html" class="news_foot">中国黄金协会</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="http://www.gold.org.cn/" class="news_foot">中国黄金网</a></td>
                <td align="left"><a href="http://finance.sina.com.cn/nmetal/index.shtml" class="news_foot">新浪财经</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="http://www.e-chinagold.com/" class="news_foot">中国黄金经研网</a></td>
                <td align="left"><a href="http://www.cnforex.com/" class="news_foot">环球外汇网</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="http://www.cngold.org/" class="news_foot">中国黄金投资网</a></td>
                <td align="left"><a href="http://money.sohu.com/jin/" class="news_foot">搜狐财经</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="http://www.go24k.com/" class="news_foot">中国黄金资讯网</a></td>
                <td align="left"><a href="http://www.gold-futures.cn/" class="news_foot">黄金期货网</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="http://resource.stockstar.com/gold/" class="news_foot">证券之星黄金频道</a></td>
                <td align="left"><a href="http://gold.cnfol.com/" class="news_foot">中金在线</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="http://gold.jrj.com.cn/" class="news_foot">金融界黄金频道</a></td>
                <td align="left"><a href="http://www.24k99.com/" class="news_foot">24K99</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="http://economy.enorth.com.cn/" class="news_foot">北方网财经频道</a></td>
                <td align="left"><a href="http://finance.qq.com/gold/index.htm" class="news_foot">腾讯黄金</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="http://www.sdb.com.cn/" class="news_foot">深圳发展银行</a></td>
                <td align="left"><a href="http://www.p5w.net/index.htm" class="news_foot">全景网</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="http://finance.baidu.com/" class="news_foot">百度和讯全财经网首页</a></td>
                <td align="left"><a href="http://gold.678678.com/" class="news_foot">淘金网</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="http://www.cnforex.com/" class="news_foot">环球外汇网</a></td>
                <td align="left"><a href="http://www.forex.com.cn/" class="news_foot">外汇通</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="http://www.yzforex.com/" class="news_foot">亚洲外汇网</a></td>
                <td align="left"><a href="http://www.htdtgold.com/" class="news_foot">银率网</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="http://www.goldfork.cn/" class="news_foot">黄金理财网</a></td>
                <td align="left">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td background="/site/hengtai/images/hengxian.jpg"></td>
        <td valign="top"><table width="283" border="0" cellspacing="20" cellpadding="0">
          <tr>
            <td height="241" valign="top" class="font_red2">地址：北京西城区金融街5号新盛大厦A座5层<br />
              电话：010 - 66555599<br />
              传真：010 - 66555789<br />
              邮编：100034<br /></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30">&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="50" bgcolor="#EFEDE6"><table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" class="font_red2">版权所有：恒泰大通黄金投资有限公司 京ICP备08003910号　京ICP证090151号</td>
      </tr>
    </table></td>
  </tr>
</table>