<div class="clear"></div>
<div id='footer'>
Swoole.com版权所有 备案号：京ICP备10021081号
 QQ群：8745758 <a href="/person/sendmail/?to=1">给管理员写信</a><br />
 源代码托管提供商Google Code <a href="http://code.google.com/p/swoole/" target="_blank">http://code.google.com/p/swoole/ </a>
 <div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4967f2faa888a2e52742bebe7fcb5f7d' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20257456-1']);
  _gaq.push(['_setDomainName', '.swoole.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</div>
</div>