<!--头部-->
<link rel="stylesheet" type="text/css" href="/static/css/menu.css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/menu.js"></script>
<script type="text/javascript">
ddsmoothmenu.init({
	mainmenuid: "menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"],
})
</script>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="main-top-bg">
  <tr>
    <td valign="top"><table width="951" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="243"><a href="/"><img src="/site/hengtai/images/logo.jpg" width="243" height="117" /></a></td>
        <td width="708"><img src="/site/hengtai/images/tong.jpg" width="708" height="117" /></td>
      </tr>
      <tr>
        <td colspan="2"><table width="951" border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td><img src="/site/hengtai/images/index-top-nav_01.gif" width="6" height="30" /></td>
            
            <td>
<div id="menu" class="ddsmoothmenu">
<ul>
<li><a href="/index.php"><img src="/site/hengtai/images/index-top-nav_02.gif" width="82" height="30" border="0" /></a>
<ul>
<li><a href="{{magic func=link use=list app=News level=cid id=37}}">财经资讯</a></li>
<li><a href="{{magic func=link use=list app=News level=cid id=13}}">专家看盘</a></li>
<li><a href="{{magic func=link use=list app=News level=cid id=12}}">公司新闻</a></li>
<li><a href="{{magic func=link use=list app=News level=cid id=45}}">最新活动</a></li>
<li><a href="{{magic func=link use=list app=News level=cid id=11}}">媒体报道</a></li>
</ul>
</li>
<li><a href="{{magic func=link use=page pagename=jianjie}}"><img src="/site/hengtai/images/index-top-nav_04.gif" width="102" height="30" border="0" /></a>
<ul>
<li><a href="{{magic func=link use=page pagename=jianjie}}">企业简介</a></li>
<li><a href="{{magic func=link use=page pagename=wenhua}}">企业文化</a></li>
<li><a href="{{magic func=link use=page pagename=zuzhi}}">组织架构</a></li>
<li><a href="{{magic func=link use=list app=News level=cid id=46}}">管理团队</a></li>
<li><a href="#">分支机构</a>
<ul>
<li><a href="{{magic func=link use=list app=News level=fid id=19}}">分公司名录</a></li>
<li><a href="{{magic func=link use=list app=News level=cid id=33}}">黄金理财中心展示</a></li>
</ul></li>
<li><a href="#">社会责任</a>
<ul>
<li><a href="{{magic func=link use=page pagename=guanai}}">十分关爱基金</a></li>
<li><a href="{{magic func=link use=page pagename=xiaoxue}}">希望小学</a></li>
</ul></li>
<li><a href="{{magic func=link use=page pagename=dashi}}">公司大事记</a></li>
</ul>
</li>
<li>
<a href="{{magic func=link use=list app=Product level=fid id=14}}">
<img src="/site/hengtai/images/index-top-nav_06.gif" width="104" height="30" border="0" /></a>
<ul>
<li><a href="{{magic func=link app=Product use=list level=cid id=15}}">大通标金</a></li>
<li><a href="{{magic func=link app=Product use=list level=cid id=16}}">纪念型投资产品</a></li>
</ul>
</li>
<li><a href="{{magic func=link use=page pagename=quankuan}}"><img src="/site/hengtai/images/index-top-nav_08.gif" width="107" height="30" border="0" /></a>
<ul>
<li><a href="{{magic func=link use=page pagename=quankuan}}">全款买卖</a></li>
<li><a href="{{magic func=link use=page pagename=yufu}}">预付款买卖</a></li>
<li><a href="{{magic func=link use=list app=News level=fid id=19}}">分公司名录</a></li>
<li><a href="{{magic func=link use=list app=News level=cid id=33}}">黄金理财中心展示</a></li>
</ul>
</li>
<li><a href="{{magic func=link use=page pagename=liucheng}}"><img src="/site/hengtai/images/index-top-nav_10.gif" width="104" height="30" border="0" /></a>
<ul>
<li><a href="{{magic func=link use=page pagename=tiaojian}}">加盟条件</a></li>
<li><a href="{{magic func=link use=page pagename=liucheng}}">加盟流程</a></li>
</ul>
</li>
<li>
<a href="{{magic func=link use=list app=News level=fid id=27}}">
<img src="/site/hengtai/images/index-top-nav_12.gif" width="118" height="30" border="0" /></a>
<ul>
<li><a href="{{magic func=link use=list app=News level=cid id=28}}">资金安全</a></li>
<li><a href="{{magic func=link use=list app=News level=cid id=29}}">系统安全</a></li>
<li><a href="{{magic func=link use=page pagename=moshi}}">服务模式</a></li>
<li><a href="{{magic func=link use=list app=News level=cid id=30}}">投资者教育</a></li>
</ul>
</li>
<li><a href="{{magic func=link app=News use=list level=cid id=20}}"><img src="/site/hengtai/images/index-top-nav_14.gif" width="105" height="30" border="0" /></a>
<ul>
<li><a href="{{magic func=link app=News id=9}}">中国黄金协会</a></li>
<li><a href="{{magic func=link app=News id=13}}">深圳发展银行</a></li>
<li><a href="{{magic func=link app=News id=14}}">MetaQuotes公司</a></li>
<li><a href="{{magic func=link app=News id=12}}">中软华泰</a></li>
<li><a href="{{magic func=link app=News id=10}}">内蒙古乾坤公司</a></li>
<li><a href="{{magic func=link app=News id=11}}">中国人寿保险公司</a></li>
<li><a href="{{magic func=link app=News id=115}}">英国CCC集团</a></li>
</ul>
</li>
<li><a href="{{magic func=link use=list app=News level=fid id=21}}"><img src="/site/hengtai/images/index-top-nav_16.gif" width="105" height="30" border="0" /></a>
<ul>
<li><a href="{{magic func=link use=list app=News level=cid id=22}}">基础知识</a></li>
<li><a href="{{magic func=link use=list app=News level=cid id=23}}">投资风险与技巧</a></li>
<li><a href="{{magic func=link use=list app=News level=cid id=24}}">黄金市场概括</a></li>
<li><a href="{{magic func=link use=list app=News level=cid id=25}}">投资方式</a></li>
<li><a href="{{magic func=link use=list app=News level=cid id=26}}">政策法规</a></li>
<li><a href="{{magic func=link use=list app=Video level=cid id=6}}">理财讲堂</a></li>
</ul>
</li>
<li><a href="{{magic func=link use=page pagename=lianxi}}"><img src="/site/hengtai/images/index-top-nav_18.gif" width="113" height="30" /></a>
<ul>
<li><a href="{{magic func=link use=list app=News level=cid id=34}}">招贤纳士</a></li>
<li><a href="{{magic func=link use=page pagename=maimai}}">我要买卖</a></li>
<li><a href="{{magic func=link use=page pagename=jiameng}}">我要加盟</a></li>
<li><a href="{{magic func=link use=page pagename=lianxi}}">联系方式</a></li>
<li><a href="{{magic func=link use=page pagename=shengming}}">网站声明</a></li>
</ul>
</li>
</ul>
</div>
			</td>
            <td><img src="/site/hengtai/images/index-top-nav_19.gif" width="5" height="30" /></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>