{{magic func=cate app=News}}
<div id='header' class="bg1">
<table width="100%" border="0">
  <tr>
    <td width="72" height="80" align="center"><img src="/static/images/logo.jpg" width="55" height="55" /></td>
    <td width="918" height="80">
    <ul>
    <li><a href="/page/register/">注册</a></li>
    <li>登录</li>
    </ul>
  <ul>
  <li><a href="/">网站首页</a></li>
  {{foreach item=v from=$cate}}
  <li><a href="/news/list_{{$v.id}}.html">{{$v.name}}</a></li>
  {{/foreach}}
  <li><a href="/about.html">关于我们</a></li>
</ul>
</td>
  </tr>
</table>
</div>
<div class="clear"></div>