{{magic func=cate app=News}}
<div id='header' class="bg1">
<table width="100%" border="0">
  <tr>
    <td width="60" height="80" align="center">
	<a href="http://www.swoole.com/">
	<img src="/static/images/logo.png" align="absmiddle" width="64" height="64" />
	</a>
	</td>
	<td width="80" height="80" align="left">
	<img src="/static/images/logow.jpg" height="64" />
	</td>
    <td width="918" height="80">
	<table height="80"  border="0"  cellspacing="0" align="left">
	<tr height="24"><td> 
	<ul id='checklogin'>
    {{if $smarty.cookies.uname}}
	{{getone from=user_mail _name=mail_num select="count(*) as c" mstatus=0 tid=$smarty.cookies.uid}}
    <li>欢迎 <strong>{{$smarty.cookies.uname}}</strong></li>
	{{if $mail_num.c > 0}}
	<li><a href="/person/mails/">【您有<span class="red"> {{$mail_num.c}} </span>条新消息】</a></li>
	{{/if}}
    <li><a href="/person/index/">进入个人中心</a></li>
    <li><a href="/page/logout/">退出登录</a></li>
    {{else}}
    <li><a href="/page/register/">注册</a></li>
    <li><a href="/page/login/">登录</a></li>
    <li>
    <a href="/page/oauth/?s=qq"><img src="/static/images/qqlogin.gif" width="111" height="21" /></a>&nbsp;
    <a class="snssina" title="新浪微博帐号登录" href="/page/oauth/?s=sina"></a>&nbsp;
    <a class="snsrenren" title="人人网帐号登录" href="/page/oauth/?s=renren"></a>
    </li>      
    {{/if}}    
    </ul></td>
	</tr>
	</tr height="24"><td>
	<ul>
  <li class="tag"><a href="/">网站首页</a></li>
  <li class="tag">
  <a href="/ask/index/">有问必答</a> </li>
  <li class="tag"><a href="/mblog/index/">技术微博</a></li>
  {{foreach item=v from=$cate}}
  <li class="tag"><a href="/news/list_{{$v.id}}.html">{{$v.name}}</a></li>
  {{/foreach}}
  <li id='search_box' style="float:right">
    <form id="search" name="search" method="get" action="/page/search/">
      <label>
        <input type="text" name="k" id="k" style="height:24px" class="input3" />
      </label>
      <label>
        <button type="submit" class="btn1"><img src="/static/images/magnifier.png" width="16" height="16" /> 搜索</button>
      </label>
    </form>
  </li>
  </ul></td></tr>
	</table>
</td>
  </tr>
</table>
</div>
<div class="clear"></div>