<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{$det.title}}_PHP开发社区 Swoole开发框架官方网站</title>
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<link href="/static/css/grid.css" rel="stylesheet" type="text/css">
<meta name="Copyright" content="Swoole.com" />
<meta name="description" content="Swoole是一个PHP高级开发框架" />
<meta name="keywords" content="PHP,Web,PHP社区,PHP程序员,PHP高级,Go语言,Python语言,Golang" />
<script src="/static/js.php?g=sh" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="/static/css/facebox.css"/>
<link type="text/css" rel="stylesheet" href="/static/styles/shCore.css"/>
<link type="text/css" rel="stylesheet" href="/static/styles/shThemeDefault.css"/>
<script type="text/javascript">
	SyntaxHighlighter.config.clipboardSwf = '/static/scripts/clipboard.swf';
	SyntaxHighlighter.all();
	$.facebox.settings.closeImage = '/static/images/closelabel.png';
    $.facebox.settings.loadingImage = '/static//images/loading.gif';
</script>
</head>

<body>
{{include file='header.html'}}
{{include file=block/checklogin.html}}
<div id='main'>
<div id='mleft'>
<div id='pos'>当前位置： <a href="/">首页</a> &gt;&gt; {{$det.cname}}</div>
  <h2><span class="font_18" style="padding: 12px">{{$det.title}}</span>  </h2>
   <div id='content' style="padding: 12px">{{$det.content}}</div>
</div>

<div id='mright'>
    <!--{{magic func=list name=re app=Cpage cid=$det.cid select=id,title,pagename order=id num=100}}-->
    <h3></h3>
    <ul class="dot_ul f12">
    {{foreach from=$re item=v}}
    <li class="dot_ul"><a href="{{$smarty.const.WEBROOT}}/{{$v.pagename}}.html" title="{{$v.title}}">{{$v.title}}</a></li>
    {{/foreach}}
    </ul>
</div>

</div>
{{include file='footer.html'}}
</body>
</html>
