<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PHP开发社区 Swoole开发框架官方网站</title>
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<link href="/static/css/grid.css" rel="stylesheet" type="text/css">
<meta name="Copyright" content="Swoole.com" />
<meta name="description" content="Swoole是一个PHP高级开发框架" />
<meta name="keywords" content="PHP,Web,PHP社区,PHP程序员,PHP高级,Go语言,Python语言,Golang" />
</head>

<body>
{{include file='header.html'}}
<div id='main'>
<div id='mleft'>
<ul>
{{foreach item=v from=$list}}
<li><a href="{{magic func=link app=News id=$v.id}}" class="news"><strong>{{$v.title}}</strong></a>
<span class="date">{{$v.addtime|mbcut:10}}</span>
<p>
{{$v.des}}...
</p>
</li>
{{/foreach}}
</ul>
</div>

<div id='mright'>
</div>
</div>
{{include file='footer.html'}}
</body>
</html>