<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PHP开发社区 Swoole开发框架官方网站</title>
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<link href="/static/css/grid.css" rel="stylesheet" type="text/css">
<meta name="Copyright" content="Swoole.com" />
<meta name="description" content="Swoole是一个PHP高级开发框架" />
<meta name="keywords" content="PHP,Web,PHP社区,PHP程序员,PHP高级,Go语言,Python语言,Golang" />
</head>

<body>
{{include file='header.html'}}
{{include file=block/checklogin.html}}
<div id='main'>
<div id='mleft'>
<h2>微博客</h2>
<div class="microblog" id='mblog_list'>
    <ul>
    {{foreach from=$mblogs item=v}}
        <li>
        <div class="userPic"> <a href="/page/user/?uid={{$v.uid}}"><img class="avatar photo" src="{{$v.avatar}}"></a>
        </div>
        <div class="userCont">
        <a href="/page/user/?uid={{$v.uid}}">{{$v.nickname}}</a>：{{$v.content}}        </div>
        <div>
        <span>{{$v.addtime}} <a href="/mblog/detail/?id={{$v.id}}">共有{{$v.reply_count}}条评论</a> | <a href="/mblog/detail/?id={{$v.id}}">评论</a>
        <a href="/person/friend/?add={{$v.uid}}">加为好友</a> <a href="/person/sendmail/?to={{$v.uid}}">发信给{{if $v.sex==1}}她{{else}}他{{/if}} </a></span>
        </div>
        </li>
    {{/foreach}}
    </ul>
<div class="clear"></div>
<div class="pages">{{$pager.render}}</div>
</div>
<h2>技术资讯 </h2>
<ul>
{{foreach item=v from=$list}}
<li><a href="{{magic func=link app=News id=$v.id}}" class="news"><strong>{{$v.title}}</strong></a>
<span class="date">{{$v.addtime|mbcut:10}}</span>
<p>
{{$v.des}}...
</p>
</li>
{{/foreach}}
</ul>
</div>

<div id='mright'>
<!--{{magic func=list cid=38 num=10}}-->
<h3 style="margin-left:5px;"><a href="http://swoole.googlecode.com/files/Swoole-0.99.zip"><img src="/static/images/world.png" width="16" height="16" /> 最新版本Swoole-0.99.zip</a></h3>
<h3 style="margin-left:5px;"><a href="http://swoole.googlecode.com/files/Swoole-0.99.zip"><img src="/static/images/world.png" width="16" height="16" /></a> <a href="http://swoole.googlecode.com/files/Swoole文档.CHM">开发者手册 Swoole.chm</a></h3>
<h3 style="margin-left:5px;"><a href="http://swoole.googlecode.com/files/Swoole-0.99.zip"><img src="/static/images/world.png" width="16" height="16" /></a> <a href="/about.html">关于Swoole及社区</a></h3>

<h3 style="margin-left:5px;">PHP编程常见问题</h3>
<ul>
{{foreach from=$list38 item=v}}
<li><a href="{{$smarty.const.WEBROOT}}/News/{{$v.id}}.html">{{$v.title}}</a></li>
{{/foreach}}
</ul>
<!--{{magic func=list cid=44 num=10 order=id}}-->
<h3 style="margin-left:5px;">Swoole使用手册</h3>
<ul>
{{foreach from=$list44 item=v}}
<li><a href="{{$smarty.const.WEBROOT}}/News/{{$v.id}}.html">{{$v.title}}</a></li>
{{/foreach}}
</ul>

<!--{{magic func=list cid=47 num=10}}-->
<h3 style="margin-left:5px;">MySQL最新文章</h3>
<ul>
{{foreach from=$list47 item=v}}
<li><a href="{{$smarty.const.WEBROOT}}/News/{{$v.id}}.html">{{$v.title}}</a></li>
{{/foreach}}
</ul>

<!--{{magic func=list cid=48 num=10}}-->
<h3 style="margin-left:5px;">Linux最新文章</h3>
<ul>
{{foreach from=$list48 item=v}}
<li><a href="{{$smarty.const.WEBROOT}}/News/{{$v.id}}.html">{{$v.title}}</a></li>
{{/foreach}}
</ul>

</div>
</div>
{{include file='footer.html'}}
</body>
</html>