<table width="239" cellspacing="0" cellpadding="0" border="0">
  <tbody>
    <tr>
      <td align="right"><table width="253" cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <tr>
            <td><img height="5" width="253" src="/site/hengtai/images/vod_top-2.jpg" /></td>
          </tr>
          <tr>
            <td valign="top" background="/site/hengtai/images/vod_bg-2.jpg" align="center"><a href="{{magic func=link app=Video use=list level=fid id=5}}"><img height="141" width="242" border="0" src="/site/hengtai/images/vod_demo.jpg" /></a></td>
          </tr>
          <tr>
            <td><a href="{{magic func=link app=Video use=list level=fid id=5}}"><img height="49" width="253" border="0" src="/site/hengtai/images/vod_btn-2.jpg" /></a></td>
          </tr>
        </tbody>
      </table></td>
    </tr>
    <tr>
      <td height="15"></td>
    </tr>
    <tr>
      <td><a href="#"><img height="112" width="252" src="/site/hengtai/images/meiti-left-1.jpg" /></a></td>
    </tr>
    <tr>
      <td height="15"></td>
    </tr>
    <tr>
      <td height="15"><a href="http://chat.doyoo.net/WebModule/chat/p.do?c=35791&amp;f=81221&amp;g=sanmingzhi" target="_blank"><img src="/site/hengtai/images/kefu-online.jpg" width="250" height="102"  border="0"/></a></td>
    </tr>
    <tr>
      <td height="15"></td>
    </tr>
    <tr>
      <td><img height="209" width="250" border="0" usemap="#Map" src="/site/hengtai/images/left-btn-index.jpg" /></td>
    </tr>
    <tr>
      <td height="15"></td>
    </tr>
    <tr>
      <td><a href="http://hengtai.sanmingzhi.com/index.php?p=liucheng"><img height="138" width="250" border="0" src="/site/hengtai/images/left-dljm.jpg" /></a><a href="/guestbook.php"></a></td>
    </tr>
  </tbody>
</table>
<map name="Map" id="Map2">
  <area href="/chaxun.html" coords="2,1,247,39" shape="rect" />
  <area href="/cms.php?app=Download&amp;cid=8" coords="3,56,247,96" shape="rect" />
  <area href="/guestbook.php" coords="1,109,247,148" shape="rect" />
  <area href="/cms.php?app=Video&amp;fid=5" coords="1,160,247,200" shape="rect" />
  <area href="/index.php?p=youshi" coords="1,261,246,300" shape="rect" />
</map>
<map name="Map" id="Map2">
  <area shape="rect" coords="2,94,249,139" href="/guestbook.php" />
  <area shape="rect" coords="2,47,248,91" href="http://hengtai.sanmingzhi.com/cms.php?app=Download&amp;cid=8" />
</map>
<map name="Map" id="Map">
  <area href="/chaxun.html" coords="2,1,247,39" shape="rect">
  <area href="/cms.php?app=Download&amp;cid=8" coords="3,56,247,96" shape="rect">
  <area href="/guestbook.php" coords="1,109,247,148" shape="rect">
  <area href="/cms.php?app=Video&amp;fid=5" coords="1,160,247,200" shape="rect">
  <area href="/index.php?p=youshi" coords="3,213,248,252" shape="rect">
  <area shape="rect" coords="4,263,246,302" href="#" />
  <area shape="rect" coords="3,314,247,353" href="#" />
</map>