<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>插入图片</title>
<style type="text/css">
<!--
body,td,th {
	font-size: 12px;
}
.image{
	border-radius: 5px;
}
-->
</style></head>

<body>
<table width="470" border="0" cellspacing="5">
  <tr>
    {{foreach item=p key=k from=$photo}}
    <td width="154"><a href="javascript:window.parent.insert_pic({{$p.id}},'{{$p.imagep}}')"><img src="{{$p.imagep}}" class="image" /></a></td>
  {{if $k%3==2}}</tr>
  <tr>{{/if}}
   {{/foreach}}
     <tr>
    <td colspan="3">{{$pager}}</td>
  </tr>
</table>
</body>
</html>
