<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{$smarty.session.user.nickname}}的相册_{{$smarty.const.SITENAME}}</title>
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<link href="/static/css/grid.css" rel="stylesheet" type="text/css">
<link href="/static/styles/global.css" rel="stylesheet" type="text/css" />
<link href="/static/css/ab.css" rel="stylesheet" type="text/css" />
{{include file=block/myphoto_upload_head.html}}
</head>
<body>
{{include file=header.html}}
<div class="ilayout">
<div class="imenubar">
{{include file=person_left.html}}
</div>
<div class="icontent" id="pright">
<!--邮件-->
<div class="mailbox">
<div class="mailtitle"></div>
{{include file=block/myphoto_head.html}}
<div class="my_phot" id='imga' style="clear:both; margin-top:15px;">
<div class="ml75">
<form id="form1" method="post" enctype="multipart/form-data">
<div class="fieldset flash" id="fsUploadProgress"><span
	class="legend">上传队列</span></div>
<div id="divStatus">0 个文件</div>
<div><span><span id="spanButtonPlaceHolder"></span> 
<input	id="btnCancel" type="button" value="取消上传" onclick="swfu.cancelQueue();"	disabled="disabled" class="inpt_qb1" /></span></div>
</form>
</div>
</div>
</div>
<!--邮件-->
<!--编辑个人资料-->
<!--编辑个人资料-->
</div>
</div>
{{include file='footer.html'}}
</body>
</html>