<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{$det.title}}_PHP开发社区 Swoole开发框架官方网站</title>
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<link href="/static/css/grid.css" rel="stylesheet" type="text/css">
<meta name="Copyright" content="Swoole.com" />
<meta name="description" content="{{$det.title}}" />
<meta name="keywords" content="{{$det.title}}" />
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<script type="text/javascript" src="/static/js/facebox.js"></script>
<script src="/js.php?g=sh" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="/static/css/facebox.css"/>
<link type="text/css" rel="stylesheet" href="/static/styles/shCore.css"/>
<link type="text/css" rel="stylesheet" href="/static/styles/shThemeDefault.css"/>
<script type="text/javascript">
	window.onload = checklogin;
	SyntaxHighlighter.config.clipboardSwf = '/static/scripts/clipboard.swf';
	SyntaxHighlighter.all();
	$.facebox.settings.closeImage = '/static/images/closelabel.png';
    $.facebox.settings.loadingImage = '/static//images/loading.gif';
	
	jQuery(document).ready(function($) {      
	  var images = document.getElementById("content").getElementsByTagName("img");
	  var maxh=700;
	  var maxw=700;
	  for(var i=0;i<images.length;i++)
	  {
		  //建议只判断高度或者宽度其中一个，那样可以自动按比例缩放
		  if(images[i].width>maxw) //判断图片的宽度，如果大于700，则设置为700，值可以自己修改
		  {			  
			  images[i].height = parseInt(images[i].height*maxw/images[i].width);
			  images[i].width = maxw;			  
		  }
		  images[i].rel="facebox";
		  if(!$.browser.msie) images[i].href = images[i].src;
	  }
	  $('#content img').facebox();
    })
</script>
</head>

<body>
{{include file='header.html'}}
<div id='main'>
<div id='mleft'>
<div id='pos'>当前位置： <a href="/">首页</a> &gt;&gt; <a href="/{{$app}}/list_{{$det.fid}}.html">{{$det.fname}}</a> &gt;&gt; <a href="/{{$app}}/list_{{$det.cid}}.html">{{$det.cname}}</a> &gt;&gt; 正文</div>
<div class="main">
  <h2><span class="font_18">
  {{if $det.is_ori==1}}<img src="/static/images/zz.gif" alt="转载" width="22" height="25" align="top" /> {{else}}
  <img src="/static/images/ori.gif" alt="原创" width="22" height="25" align="top" /> {{/if}}{{$det.title}}</span></h2>
  <p>发布时间：{{$det.addtime|mbcut:10}} 　来源：{{$det.source|default:'swoole.com'}}　　编辑：{{$det.uname|default:'管理员'}}
     {{if $det.copyfrom}}<br />转载自：<a href="{{$det.copyfrom}}" target="_blank">{{$det.copyfrom}}</a> {{/if}}</p>
     <style>
	 #ckepop a {
	cursor: pointer
	}	
	#ckepop a:link {
		color: #00C;
		text-decoration: none;
	}	
	#ckepop a:visited {
		color: #00C;
		text-decoration: none;
	}	
	#ckepop a:hover {
		color: #FFFFFF;
		text-decoration: none;
		background: #003399;
	}	
	#ckepop a:active {
		color: #FFFFFF;
		text-decoration: none;
		background: #FF9933;
	}
	.jiathis_txt{
		float: left;
		font-size: 12px;
		line-height: 18px !important;
		text-decoration: none;
		color:#00c;
	}
	 </style>
     <div id="ckepop">
        <a href="http://www.jiathis.com/share/" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享到：</a>
        <a class="jiathis_button_tools_1"></a>
        <a class="jiathis_button_tools_2"></a>
        <a class="jiathis_button_tools_3"></a>
        <a class="jiathis_button_tools_4"></a>
    </div><br />
  <div id='content'>{{$det.content}}</div>
  <div id='comment'>
  <ol class="comment-list">		
  {{foreach item=v from=$comments}}		
	<li class="comment">
		<div class="comment-author">
			<img class="avatar photo" src="{{$v.avatar}}" alt="">
            <cite class="fn">{{$v.uname}}</cite> <span class="says">says:</span>
         </div>            
		<div class="comment-meta commentmetadata">
        	{{$v.addtime}}	
	    </div>
		<div class="comment-content">						
			<p>{{$v.content}}</p>
		</div>
		<div class="reply">
	</div>	
	</li>
    {{/foreach}}
    </ol>
  <form id="comment_form" name="comment_form" method="post" action="">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="45" valign="top">内容</td>
        <td><textarea name="comment_content" cols="54" rows="5" id="comment_content"></textarea></td>
      </tr>
      <tr>
        <td width="45">验证码</td>
        <td><input name="authcode" type="text" id="authcode" size="10" />
          <img src="/swoole_plugin/media/gd.php" name="authcode_img" class="" id="authcode_img" />
          <input name="app" type="hidden" id="app" value="{{$app}}" />
          <input name="aid" type="hidden" id="aid" value="{{$det.id}}" /></td>
      </tr>
      <tr>
        <td width="45">&nbsp;</td>
        <td><label>
          <input type="button" name="button" id="button" value="发表评论" onclick="post_comment()" />
        </label></td>
      </tr>
    </table>
   </form>
  </div>
</div>
</div>

<div id='mright'>
<!--{{magic func=cate app=News name=cates fid=$det.fid}}-->
<h3 style="margin-left:5px;">相关分类</h3>
<ul>
{{foreach from=$cates item=v}}
<li class="dot_ul"><a href="{{$smarty.const.WEBROOT}}/News/list_{{$v.id}}.html">{{$v.name}}</a></li>
{{/foreach}}
</ul>

<!--{{magic func=list name=about cid=$det.cid num=10}}-->
<h3 style="margin-left:5px;">相关文章</h3>
<ul>
{{foreach from=$about item=v}}
<li><a href="{{$smarty.const.WEBROOT}}/News/{{$v.id}}.html">{{$v.title}}</a></li>
{{/foreach}}
</ul>
</div>
</div>
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
{{include file='footer.html'}}
</body>
</html>