<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PHP开发社区 Swoole开发框架官方网站</title>
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<link href="/static/css/grid.css" rel="stylesheet" type="text/css">
<meta name="Copyright" content="Swoole.com" />
<meta name="description" content="Swoole是一个PHP高级开发框架" />
<meta name="keywords" content="PHP,Web,PHP社区,PHP程序员,PHP高级,Go语言,Python语言,Golang" />
<script src="/static/scripts/shCore.js"></script>
<script src="/static/scripts/shBrushBash.js"></script>
<script src="/static/scripts/shBrushCpp.js"></script>
<script src="/static/scripts/shBrushCSharp.js"></script>
<script src="/static/scripts/shBrushCss.js"></script>
<script src="/static/scripts/shBrushDelphi.js"></script>
<script src="/static/scripts/shBrushDiff.js"></script>
<script src="/static/scripts/shBrushGroovy.js"></script>
<script src="/static/scripts/shBrushJava.js"></script>
<script src="/static/scripts/shBrushJScript.js"></script>
<script src="/static/scripts/shBrushPhp.js"></script>
<script src="/static/scripts/shBrushPlain.js"></script>
<script src="/static/scripts/shBrushPython.js"></script>
<script src="/static/scripts/shBrushRuby.js"></script>
<script src="/static/scripts/shBrushScala.js"></script>
<script src="/static/scripts/shBrushSql.js"></script>
<script src="/static/scripts/shBrushVb.js"></script>
<script src="/static/scripts/shBrushXml.js"></script>
<link type="text/css" rel="stylesheet" href="/static/styles/shCore.css"/>
<link type="text/css" rel="stylesheet" href="/static/styles/shThemeDefault.css"/>
<script type="text/javascript">
	SyntaxHighlighter.config.clipboardSwf = '/static/scripts/clipboard.swf';
	SyntaxHighlighter.all();
</script>
</head>

<body>
{{include file='header.html'}}
<div id='main'>
<div id='mleft'>
<div>当前位置： <a href="/">首页</a> &gt;&gt; <a href="/{{$app}}/list_{{$det.fid}}.html">{{$det.fname}}</a> &gt;&gt; <a href="/{{$app}}/list_{{$det.cid}}.html">{{$det.cname}}</a> &gt;&gt; 正文</div>
  <h2><span class="font_18">{{$det.title}}</span></h2>
  <p>发布时间：{{$det.addtime|mbcut:10}} 　来源：{{$det.source|default:'swoole.com'}}　　编辑：{{$det.uname|default:'管理员'}}</p>
  <p>{{$det.content}}</p>
</div>

<div id='mright'>
</div>
</div>
{{include file='footer.html'}}
</body>
</html>