<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{$smarty.session.user.realname}}的用户中心_阿宝网</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="/static/js/validator.js"></script>
<script language="javascript">
window.onload = function(){
	validator('form1');
};
</script>
</head>

<body>
<div class="bidding">
{{include file='block/bid_menu.html'}}
<div class="tab_container">
  <div id="tab3" class="tab_content">
      <form method="post" name="form1" id="form1"> 
      <table width="0" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30">国家选择：</td>
    <td height="30">
     {{$forms.country}}</td>
    <td height="30">&nbsp;</td>
  </tr>
  <tr>
    <td height="30">专业选择：</td>
    <td height="30">{{$forms.major}}</td>
    <td height="30">&nbsp;</td>
  </tr>
  <tr>
    <td height="30">级别选择：</td>
    <td height="30">{{$forms.projects}}</td>
    <td height="30">&nbsp;</td>
  </tr>
  <tr>
    <td height="30">预算选择：</td>
    <td height="30">{{$forms.budget}}</td>
    <td height="30">&nbsp;</td>
  </tr>
  <tr>
    <td height="30">性别：</td>
    <td height="30">      {{$forms.sex}}</td>
    <td height="30">&nbsp;</td>
  </tr>
  <tr>
    <td height="30">所在地区：</td>
    <td height="30">{{$forms.province}}</td>
    <td height="30">&nbsp;</td>
  </tr>
  <tr>
    <td height="30">有效期：</td>
    <td height="30">{{$forms.expired}}</td>
    <td height="30">&nbsp;</td>
  </tr>
  <tr>
    <td height="30">联系方式：</td>
    <td height="30"><input name="contact" type="text" id="contact" size="20"  />      </td>
    <td height="30">（请先写）电话或邮箱</td>
  </tr>
  <tr>
    <td height="30">其他要求：</td>
    <td height="30"><textarea name="intro" rows="" value="备注" id="intro"></textarea></td>
    <td height="30">&nbsp;</td>
  </tr>
  <tr>
    <td height="30">&nbsp;</td>
    <td height="30"><input type="image" src="/static/images/btn3.gif" width="129" height="27"/></td>
    <td height="30">&nbsp;</td>
  </tr>
</table>
</form>          
    </div>     
        
  </div>
</div>
<div class="footer"></div>
</body>
</html>
