<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{$smarty.session.user.nickname}}的用户中心_{{$smarty.const.SITENAME}}</title>
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<link href="/static/css/grid.css" rel="stylesheet" type="text/css">
<link href="/static/styles/global.css" rel="stylesheet" type="text/css" />
<link href="/static/css/ab.css" rel="stylesheet" type="text/css" />
</head>
<body>
{{include file=header.html}}
<div class="ilayout">
<div class="imenubar">
{{include file=person_left.html}}
</div>
<div class="icontent">
<!--邮件-->
<div class="mailbox">
<div class="mailtitle"></div>
<div class="mailboxtab">
<ul>
<li class="{{if $smarty.get.act==recv}}{{else}}hov{{/if}}"><a href="/person/mails/?act=recv">收件箱</a></li>
<li class="{{if $smarty.get.act==send}}{{else}}hov{{/if}}"><a href="/person/mails/?act=send">发件箱</a></li>
<li class="hov"><a href="/person/sendmail/">写小纸条</a></li>
</ul>
</div>
<div class="mailcontent dis">
<!--使用undis隐藏-->
<ul>
{{foreach from=$list item=v}}
<li>
<span class="mailcontentTitle"><a href="/person/readmail/?mid={{$v.id}}">{{$v.title}}</a></span>
<span class="date">{{$v.addtime|mbcut:10}}</span>
<span class="delete"><a href="/person/delmail/?mid={{$v.id}}" title="删除" onclick="return confirm('您确定要删除此内容？');">删除</a></span>
</li>
{{/foreach}}
</ul>
<div class="clear"></div>
<div class="pages">{{$pager.render}}</div>
</div>
</div>
<!--邮件-->
<!--编辑个人资料-->
<!--编辑个人资料-->
</div>
</div>
{{include file='footer.html'}}
</body>
</html>