<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{$country.name}}大学留学_{{$country.name}}大学查询_{{$country.name}}大学排名查询-阿宝网21abroad.com</title>
<meta name="Keywords" content="{{$country.name}}大学留学,{{$country.name}}大学专业,{{$country.name}}大学排行,{{$country.name}}大学排名,最新{{$country.name}}大学排名，最新{{$country.name}}大学综合排名" />
<meta name="Description" content="阿宝网21abroad.com提供最新留学{{$country.name}}大学查询，包括{{$country.name}}大学专业查询，{{$country.name}}大学排名查询，以及{{$country.name}}大学学费，{{$country.name}}大学图片，{{$country.name}}大学录取率等详细信息，为您选择留学{{$country.name}}大学提供最佳帮助！"/>
<link href="/static/styles/global.css" rel="stylesheet" type="text/css" />
<link href="/static/styles/header.css" rel="stylesheet" type="text/css" />
<link href="/static/styles/searchlist.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="/static/js/jquery-1.4.2.min.js"></script>
<script language="javascript" src="/static/js/search.js"></script>
<script language="javascript">
function setType(t)
{
	type = t;
	for(var i=1;i<4;i++)
	{
		document.getElementById('tt'+i).className = '';
	}
	document.getElementById('tt'+t).className = 'onc';
}
</script>
<style>
#suggest {
	border:1px solid #817F82;
	position:absolute;
	background-color:#FFFFFF;
}
.ml td{
	height:28px;
	font-size:14px;
	padding-left:5px;
}
</style>
</head>
<body>
<div class="layout">
  <div class="left">
  <div class="searchlist">
{{foreach item=v from=$list}}
<div class="listarea">
<div class="schoolslogo"><img src="{{$v.pic|default:'/static/images/schoollogo.gif'}}" width="80" /></div>
<div class="list">
<h2><a href="http://search.21abroad.com/{{'大学'|escape:'url'}}/detail_{{$v.id}}.htm" target="_blank">{{$v.cnname}} {{$v.enname}}</a></h2>
<p>
<span>地址：{{$v.address}}</span>
<span>排名信息：{{$v.ranking}}</span></p>
<p><span>托福成绩:0</span><span>SAT成绩：0</span><span>国际学生奖学金：{{$v.scholarship}}</span></p>
<p><span>录取率：{{$v.admit}}%</span><span>留学生比例：{{$v.proportion}}％</span><span>学校规模：{{$v.scale}}人</span></p>
</div>
<div class="prs">
<span>学费:<font class="nu">${{$v.tuition}}</font>/年</span>
<span><a href="http://search.21abroad.com/{{'大学'|escape:'url'}}/detail_{{$v.id}}.htm" target="_blank"><img src="/static/images/xiangqing.gif" border="0" /></a></span></div>
<div class="clear"></div>
</div>
{{/foreach}}

<div class="pages">{{$pager.render}}</div>
</div>
</div>
<div class="clear"></div>
</div>
</body>
</html>
