<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{$smarty.session.user.nickname}}的用户中心_{{$smarty.const.SITENAME}}</title>
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<link href="/static/css/grid.css" rel="stylesheet" type="text/css">
<link href="/static/css/ab.css" rel="stylesheet" type="text/css" />
<link href="/static/styles/global.css" rel="stylesheet" type="text/css" />
</head>

<body>
{{include file='header.html}} 
<div class="ilayout">
<div class="imenubar">
{{include file='person_left.html'}}
</div>
<div class="icontent" id="pright">
{{include file=block/myquestion_head.html}}
<!--欢迎页面-->
<!--欢迎页面-->
<!--邮件-->
<!--邮件-->
<!--编辑个人资料-->
<div class="memberlogs">
<form method="post"  id="logs">
<div class="log"></div>

<div class="logs">
<table width="100%"  cellpadding="0" cellspacing="0" class="table1">
	<tr bgcolor="#CCCCCC">
		<th align="center"><strong>ID</strong></th>
        <th align="left"><strong>问题标题</strong></th>		
		<th align="center">回答数</th>       
		<th align="center">状态</th>
		<th align="center"><strong>添加时间</strong></th>
		</tr>
	{{section name=ol loop=$list}}
	<tr>
		<td height="24" align="center">{{$list[ol].id}}</td>
        <td height="24" align="left"><a href="/ask/detail/?aid={{$list[ol].id}}" target="_blank">{{$list[ol].title|mbcut:20:"...":true}}</a></td>
        <td>{{$list[ol].qcount}}</td>
        <td align="center">
        {{if $list[ol].mstatus==1}}<img src="/static/images/application_put.png" title="已有人回答，正在等待最佳答案" width="16" height="16" />
        {{elseif $list[ol].mstatus==2}}<img src="/static/images/accept.png" title="已有最佳答案" width="16" height="16" />
        {{else}}<img src="/static/images/alarm.png" title="等待回答" width="16" height="16" />{{/if}}</td>		
		<td height="24" align="center">{{$list[ol].addtime}}</td>
		</tr>
	{{/section}}
	<tr>
	  <td align="center" colspan="5">{{$pager.render}}</td>
	</tr>
</table>

{{foreach  item=m from=$id}} 
      <label>
       {{$m.title|truncate:50}}<a href="/person/logs/{{$m.id}}">修改</a><a href="/person/logmanage/?del={{$m.id}}">删除</a> <br/>
       </label>
      {{/foreach}}

</div>


</form>
</div>
<!--编辑个人资料-->
</div>
</div>
{{include file='footer.html}}
</body>
</html>