<div class="memberbox">
<div class="memberpic"> <a href="/page/user/uid-{{$smarty.session.user_id}}"><img src="{{$smarty.session.user.avatar|default:'/static/images/default.gif'}}" /></a>
  </div>
  <p>id:{{$smarty.session.user_id}} {{if empty($smarty.session.user.avatar)}}<a href="/person/profile/">上传头像</a>{{/if}}</p>
</div>
<ul>
<li><h2>空间管理</h2>
</li>
<li><img src="/static/images/application_home.png" width="16" height="16" /> 
<a href="/person/index/">我的空间首页</a></li>
<li><img src="/static/images/user.png" width="16" height="16" /> 
<a href="/person/profile/">编辑个人资料</a></li>
<li><img src="/static/images/group.png" width="16" height="16" /> 
<a href="/person/myfriends/">我的好友列表</a></li>
<li><img src="/static/images/book.png" alt="记事本" width="16" height="16" style="margin-top:5px;"/> 
<a href="/person/notes/">我的记事本</a></li>
<li><img src="/static/images/ipod_cast.png" width="16" height="16" /> <a href="/person/mblog/">我的微博客</a></li>
</ul>
<ul>
<li>
<h2>空间功能</h2></li>
<li><img src="/static/images/email.png" width="16" height="16" /> <a href="/person/mails/?act=recv">我的邮箱</a></li>
<li><img src="/static/images/help.png" width="16" height="16" /> <a href="/person/question/">我要提问</a></li>
<li><img src="/static/images/ico4.gif" width="14" height="15" /> <a href="/person/myquestion/">我的问题</a></li>
<li><img src="/static/images/comment.png" width="14" height="15" /> <a href="/person/comment/">我的评论</a></li>
<li><img src="/static/images/blog.png" width="14" height="15" /> <a href="/myblog/index/">我的博客</a> 
<em class="user_op"><a href="/myblog/write/">发布</a></em></li>
<li><img src="/static/images/feed_document.png" width="16" height="16" /> <a href="/person/rss/">RSS订阅</a></li>
<li><img src="/static/images/photos.png" width="16" height="16" /> <a href="/myphoto/index/">我的相册</a></li>
<li><img src="/static/images/chart_organisation.png" width="14" height="15" /> <a href="/myblog/category/">分类管理</a></li>
<li><img src="/static/images/application_go.png" width="16" height="16" /> <a href="/page/logout/">退出登录</a></li>
</ul>