<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{$smarty.session.ent_user.enterprisename}}-阿宝网 21abroad.com</title>
<link href="../styles/global.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.layout{ width:500px; text-align:left}
.mailcontent .mailfiled{ margin:10px 0px;}
.mailcontent .mailfiled h2{ line-height:22px; font-weight:bold}
.mailcontent .mailfiled h2 span{ font-weight:normal}
.mailcontent .mailtext{ height:300px; line-height:22px; width:500px}
</style>


</head>

<body>
<!--head-->
<!--head-->
<div class="layout">
  <div class="mailcontent"><form method="post" name="form1" id="form1" >
<div class="mailfiled">
<h2>对方地址</h2>
<input type="text" width="200" height="24" value="{{$bid.uid}}" disabled="disabled" /> 
@21abroad (固定格式)
</div>
<div class="mailfiled">
<h2>标题 <span>50字以内</span></h2>
<input name="title" type="text" id="title" size="75" width="400" height="24" />
</div>
<div class="mailfiled">
<h2>正文<span>300字以内</span></h2>
<textarea name="content" class="mailtext" id="content"></textarea>
</div>
<div class="mailfiled">
  <button type="submit">发送竞标</button>
</div>
</form >

</div>
</div>


<!--footer-->
<!--footer-->
</body>
</html>
