<div class="memberbox">
<div class="memberpic">
  <img src="{{$smarty.session.user.avatar|default:'/static/images/default.gif'}}" />
  </div>
  <p>id:{{$smarty.session.user_id}} {{if empty($smarty.session.user.avatar)}}<a href="/person/profile/">上传头像</a>{{/if}}</p>
</div>
<ul>
<li><h2>空间管理</h2>
</li>
<li><a href="/person/index/">我的空间首页</a></li>
<li><a href="/person/profile/">编辑个人资料</a></li>
</ul>
<ul>
<li>
<h2>空间功能</h2></li>
<li><a href="/person/mails/?act=recv">我的邮箱</a></li>
<li><a href="/person/question/">我要提问</a></li>
<li><a href="/person/myquestion/">我的问题</a></li>
<li><a href="/person/comment/">我的评论</a></li>
<li><a href="/person/logmanage/">我的日志</a></li>
<li><a href="/person/logcat/">分类管理</a></li>
<li><a href="/page/logout/">退出登录</a></li>
</ul>