<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{$det.name}}-产品介绍-恒泰大通黄金投资有限公司</title>
<meta name="Copyright" content="恒泰大通黄金投资有限公司" />
<meta name="description" content="{{$det.intro}}" />
<meta name="keywords" content="{{$det.keywords}}" />
<link href="/site/hengtai/style/css.css" rel="stylesheet" type="text/css">
<script language="javascript" src="/static/js/marquee.js"></script>
<script language="javascript">
function setPic(url)
{
	document.getElementById('mainphoto').src=url;
}
</script>
{{getall from=st_attachment _name=atts app=$app aid=$det.id}}
</head>

<body>
{{include file='header.html'}}
<table width="951" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="9" rowspan="2"><img src="/site/hengtai/images/index-top-nav_20.gif" width="6" height="179" /></td>
    <td width="937" height="28"><img src="/site/hengtai/images/banner-pro.jpg" width="940" height="173" /></td>
    <td width="10" rowspan="2"><img src="/site/hengtai/images/index-top-nav_22.gif" width="5" height="179" /></td>
  </tr>
  <tr>
    <td height="6"><img src="/site/hengtai/images/index-top-nav_23.gif" width="940" height="6" /></td>
  </tr>
</table>
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="40">&nbsp;</td>
  </tr>
</table>
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="692" valign="top"><table width="692" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="37" colspan="3" background="/site/hengtai/images/ceshi.jpg" class="lanmu_title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恒泰大通{{$det.cname}}详细页</td>
        </tr>
      <tr>
        <td height="376" colspan="3" valign="top" background="/site/hengtai/images/meiti_bg.jpg"><table width="691"  border="0" cellpadding="0" cellspacing="40">
          <tr>
            <td valign="top"><table width="610" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="50" align="center"><h1 class="pro-3-title">{{$det.name}}</h1></td>
              </tr>
              <tr>
                <td><table width="496" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td colspan="2"><img src="/site/hengtai/images/product-3-top.jpg" width="499" height="11" /></td>
                    </tr>
                  <tr>
                    <td width="11"><img src="/site/hengtai/images/product-3-left.jpg" width="11" height="346" /></td>
                    <td width="485"><img src="{{$det.pic}}" width="485" height="345" name="theImg" id="mainphoto"/></td>
                  </tr>
                </table>
                  <table width="610" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td align="center"><img src="/site/hengtai/images/product-3-line.jpg" width="529" height="10" /></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><table width="610" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="29">
                          <img src="/site/hengtai/images/product-3-left-btn.jpg" id="goleft" /></td>
                          <td width="552">
          <div id="pics">                         
            <table width="552" border="0" cellspacing="4" cellpadding="0">
                <tr>                         
                {{foreach from=$atts item=v}}
                <td>
                <a href="javascript:setPic('{{$v.url}}')"><img src="{{$v.url}}" width="148" height="132" /></a></td>
                {{/foreach}}
                  </tr>
                  </table>
              </div></td>
                          <td width="29">
                          <img src="/site/hengtai/images/product-3-right-btn.jpg" id="goright" /></td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td>&nbsp;
<script language="javascript" type="text/javascript">
var marquee1 = new Marquee("pics");
marquee1.Direction = "right";	
marquee1.Step = 1;
marquee1.Width = 550;
marquee1.Height = 140;
marquee1.Timer = 50;
marquee1.DelayTime = 0;
marquee1.WaitTime = 3000;
marquee1.ScrollStep = 52;
marquee1.Start();
</script>
</td>
                    </tr>
                    <tr>
                      <td><table width="496" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td height="30" align="left" class="font_red2"><strong>{{$det.name}}详细介绍：</strong></td>
                        </tr>
                        <tr>
                          <td align="left"><span class="font_12"><strong>重量规格：</strong>{{$det.PN}}<br />
                              <strong>黄金品质：</strong>{{$det.quality}}<br />
                              <strong>提取及回购费用：</strong>{{$det.fineness}}</span></td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table>            <p>&nbsp;</p>
              </td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td width="19"><img src="/site/hengtai/images/meiti_10.gif" width="19" height="14" /></td>
        <td width="672" background="/site/hengtai/images/meiti_12.gif"></td>
        <td width="10"><img src="/site/hengtai/images/meiti_14.gif" width="18" height="14" /></td>
      </tr>
    </table></td>
    <td width="24">&nbsp;</td>
    <td width="239" valign="top">{{include file='block/left.html'}}</td>
  </tr>
</table>
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="25">&nbsp;</td>
  </tr>
</table>
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
{{include file='footer.html'}}
</body>
</html>
