<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>恒泰大通黄金投资有限公司</title>
<link href="style/css.css" rel="stylesheet" type="text/css">
</head>

<body>
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="97"><img src="images/logo.jpg" width="345" height="117" /></td>
  </tr>
</table>
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="29"><img src="images/nva_01.gif" width="8" height="29" /></td>
    <td><a href="index.html"><img src="images/nva_02.gif" width="181" height="29" /></a></td>
    <td><img src="images/nva_05.gif" width="2" height="29" /></td>
    <td><a href="about.html"><img src="images/nva_04.gif" width="183" height="29" /></a></td>
    <td><img src="images/nva_05.gif" width="2" height="29" /></td>
    <td><a href="yewu.html"><img src="images/nva_06.gif" width="192" height="29" /></a></td>
    <td><img src="images/nva_05.gif" width="2" height="29" /></td>
    <td><img src="images/nva_08.gif" width="1" height="29" /></td>
    <td><a href="lianmeng.html"><img src="images/nva_09.gif" width="183" height="29" /></a></td>
    <td><img src="images/nva_05.gif" width="2" height="29" /></td>
    <td><a href="xueyuan.html"><img src="images/nva_11.gif" width="192" height="29" /></a></td>
    <td><img src="images/nva_12.gif" width="7" height="29" /></td>
  </tr>
</table>
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/banner.jpg" width="955" height="181" /></td>
  </tr>
</table>
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="50">&nbsp;</td>
  </tr>
</table>
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="692" valign="top"><table width="692" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="37" colspan="3" background="/site/hengtai/images/ceshi.jpg" class="lanmu_title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注册模拟账号</td>
        </tr>
      <tr>
        <td height="376" colspan="3" valign="top" background="/site/hengtai/images/meiti_bg.jpg"><table width="691" height="710"  border="0" cellpadding="0" cellspacing="40">
          <tr>
            <td height="561" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2"><img src="images/info.jpg" width="133" height="25" /></td>
                </tr>
              <tr>
                <td height="30" colspan="2" class="tip">温馨提示：请填写您的真实信息，我们将通过电话与您确认后予以开通</td>
                </tr>
              <tr>
                <td height="30" colspan="2" class="tip">&nbsp;</td>
              </tr>
              <tr>
                <td width="12%" height="30">真实姓名：</td>
                <td width="88%"><input type="text" name="textfield" id="textfield" /></td>
              </tr>
              <tr>
                <td height="30">联系地址：</td>
                <td><input type="text" name="textfield2" id="textfield2" /></td>
              </tr>
              <tr>
                <td height="30">联系电话：</td>
                <td><input type="text" name="textfield3" id="textfield3" /></td>
              </tr>
              <tr>
                <td height="30">E-mail:</td>
                <td><input type="text" name="textfield4" id="textfield4" /></td>
              </tr>
              <tr>
                <td height="30" colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="23%">您从哪里知道恒泰大通</td>
                    <td width="5%"><input type="radio" name="radio" id="radio" value="radio" /></td>
                    <td width="5%">报纸</td>
                    <td width="4%"><input type="radio" name="radio" id="radio2" value="radio" /></td>
                    <td width="6%">网络</td>
                    <td width="4%"><input type="radio" name="radio" id="radio3" value="radio" /></td>
                    <td width="6%">电视</td>
                    <td width="5%"><input type="radio" name="radio" id="radio4" value="radio" /></td>
                    <td width="9%">朋友介绍</td>
                    <td width="33%">&nbsp;</td>
                  </tr>
                </table></td>
                </tr>
              <tr>
                <td height="30">软件下载</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td height="30" colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="4%"><input name="radio" type="radio" id="radio5" value="radio" checked="checked" /></td>
                    <td width="6%">同意</td>
                    <td width="4%"><input type="radio" name="radio" id="radio6" value="radio" /></td>
                    <td width="25%">不同意</td>
                    <td>&nbsp;</td>
                    </tr>
                </table></td>
                </tr>
              <tr>
                <td height="40" colspan="2"><a href="#"><img src="images/subit.jpg" width="67" height="29" /></a></td>
                </tr>
              <tr>
                <td height="30">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>            
            <p>&nbsp;</p>
              </td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td width="19"><img src="images/meiti_10.gif" width="19" height="14" /></td>
        <td width="672" background="/site/hengtai/images/meiti_12.gif"></td>
        <td width="10"><img src="images/meiti_14.gif" width="18" height="14" /></td>
      </tr>
    </table></td>
    <td width="24">&nbsp;</td>
    <td width="239" valign="top"><table width="239" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right"><table width="253" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="images/vod_top-2.jpg" width="253" height="5" /></td>
          </tr>
          <tr>
            <td align="center" valign="top" background="/site/hengtai/images/vod_bg-2.jpg"><a href="#"><img src="images/vod_demo.jpg" width="242" height="141" /></a></td>
          </tr>
          <tr>
            <td><a href="#"><img src="images/vod_btn-2.jpg" width="253" height="49" /></a></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><a href="#"><img src="images/meiti-left-1.jpg" width="252" height="112" /></a></td>
      </tr>
      <tr>
        <td height="15"></td>
      </tr>
      <tr>
        <td><img src="images/meiti-left-2.jpg" width="252" height="176" /></td>
      </tr>
      <tr>
        <td height="15"></td>
      </tr>
      <tr>
        <td><a href="zhuce.html"><img src="images/join_btn.jpg" width="252" height="115" /></a></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="25">&nbsp;</td>
  </tr>
</table>
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0" class="foot_bg">
  <tr>
    <td height="320" valign="top"><table width="955" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="273" height="77">&nbsp;</td>
        <td width="2"></td>
        <td width="395">&nbsp;</td>
        <td width="2"></td>
        <td width="282">&nbsp;</td>
      </tr>
      <tr>
        <td height="279" valign="top"><table width="273" border="0" cellspacing="20" cellpadding="0">
          <tr>
            <td height="241" align="right" valign="top"><table width="93%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
                <td align="left"><a href="#" class="news_foot">恒泰大通-温州</a></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="2" background="/site/hengtai/images/hengxian.jpg"></td>
        <td valign="top"><table width="395" border="0" cellspacing="20" cellpadding="0">
          <tr>
            <td height="241" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">中国黄金网</a></td>
                <td align="left"><a href="#" class="news_foot">中国黄金网</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">中国黄金网</a></td>
                <td align="left"><a href="#" class="news_foot">中国黄金网</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">中国黄金网</a></td>
                <td align="left"><a href="#" class="news_foot">中国黄金网</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">中国黄金网</a></td>
                <td align="left"><a href="#" class="news_foot">中国黄金网</a></td>
              </tr>
              <tr>
                <td height="24" align="left"><a href="#" class="news_foot">中国黄金网</a></td>
                <td align="left"><a href="#" class="news_foot">中国黄金网</a></td>
              </tr>
              <tr>
                <td height="24" align="left">&nbsp;</td>
                <td align="left">&nbsp;</td>
              </tr>
              <tr>
                <td height="24" align="left">&nbsp;</td>
                <td align="left">&nbsp;</td>
              </tr>
              <tr>
                <td height="24" align="left">&nbsp;</td>
                <td align="left">&nbsp;</td>
              </tr>
              <tr>
                <td height="24" align="left">&nbsp;</td>
                <td align="left">&nbsp;</td>
              </tr>
              <tr>
                <td height="24" align="left">&nbsp;</td>
                <td align="left">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td background="/site/hengtai/images/hengxian.jpg"></td>
        <td valign="top"><table width="283" border="0" cellspacing="20" cellpadding="0">
          <tr>
            <td height="241" valign="top" class="font_red2">地址：北京<br />
              电话：010-82115588</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30">&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="50" bgcolor="#EFEDE6"><table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td class="font_red2">版权所有：恒泰大通黄金投资有限公司</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
